<a class="btn btn-primary my-3 float-end" routerLink="/author/createupdate"
  >create author +
</a>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors">
      <td>{{ author.id }}</td>
      <td>{{ author.name }}</td>
      <td>{{ author.description }}</td>
      <td>
        <a
          class="btn btn-info btn-sm"
          [routerLink]="['/author/createupdate', author.id]"
          >Update</a
        >
        |
        <a class="btn btn-danger btn-sm" (click)="deleteAuthor(author.id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
